<!doctype html>
<html>
    <head lang="de">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>Fahrtenbuch</title>
    </head>
    <body>
        <form>
            <label for="fshort">Kurz:</label><br/>
            <input type="text" class="oval-xlg" id="fshort" name="fshort"/><br/>
            <label for="fname">Name:</label><br/>
            <input type="text" class="oval-xlg" id="fname" name="fname"/><br/>
            <label for="fcompany">Firma:</label><br/>
            <input type="text" class="oval-xlg" id="fcompany" name="fcompany"/><br/>
            <label for="fstreet">Adresszeile 1:</label><br/>
            <input type="text" class="oval-xlg" id="fstreet" name="fstreet"/><br/>
            <label for="fcity">Stadt:</label><br/>
            <input type="text" class="oval-xlg" id="fcity" name="fcity"/><br/>
            <label for="fzip">Postleitzahl:</label><br/>
            <input type="text" class="oval-xlg" id="fzip" name="fzip"/><br/>
            <button type="button" class="oval-lg" onclick="checkAdrForm();"></button>
        </form>
    </body>
</html>